<!DOCTYPE html>
<html lang="en">
<head>
    <title>Circle</title>
    {% include 'header.html' %}
    <style>
        div.momment-card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="card">
        <div class="card-block">
            <form action='/circle/create/' method='post'>
                <label>circle name</label>
                <input type="text" name='circle_name' class="form-control" required>
                <label>introduction</label>
                <textarea class="form-control" name="introduction" rows="3" required></textarea>
                <label>announcement</label>
                <textarea class="form-control" name="announcement" rows="3"></textarea>
                <label>icon</label>
                <input type="url" name='icon' class="form-control">
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button class="btn btn-lg btn-primary float-right btn-block w-100 p-1" type="submit">
                            create group
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% for d in circles:%}
    <div class="card momment-card">
        <div class="card-block">
            <div class='row'>
                <div class="col-10">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-text">{{d['circle_name']}}</h4>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-2">{{d['nick_name']}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">{{d['announcement']}}</p>
                        </div>
                    </div>
                    <p class="card-text">{{d['introduction']}}</p>
                    <div class="row">
                        <div class="col-3">
                            <label class="btn btn-primary join" id="join-{{d['circle_id']}}">join</label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="{{d['icon']}}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>

<script>
    $(".join").click(function () {
        var circle_id = $(this).attr('id').split("-")[1];
        let jsonData = {"circle_id": circle_id};
        $.ajax({
            type: 'POST',
            url: "/circle/join/",
            dataType: "text",
            data: jsonData,
            success: (res) => {
                window.location.reload();
            }
        });
    });
</script>

</html>