<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}

    <meta charset="UTF-8">
    <title>Discover</title>
</head>
<body>
{% include 'navbar.html' %}

<div class="container">
    <div>
        <form action='/student/follow/' method='post'>
            <div class="row">
                <div class="col-2"><label class="float-right" style="margin-top: 10px">user name</label></div>
                <div class="col-7">
                    <input type="text" style="margin-top: 5px" name='follower_name' class="form-control">
                </div>
                <div class="col-2">
                    <button class="btn btn-lg btn-primary btn-block w-75 p-1" style="margin-top: 5px" type="submit">
                        follow
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-6">
            <h4>Following</h4>
            {% for f in following %}
            <div class="row" style="margin: 10px">
                <div class="col-4">
                    {{f['nick_name']}}
                </div>
                <div class="col-4">
                    {{f['since']}}
                </div>
                <div class="col-4">
                    <a class="btn btn-danger float-right btn-block"
                       href="/student/follow/?unfollow=1&follower_id={{f['user_id']}}">
                        unfollow
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-6">
            <h4>Follower</h4>
            {% for f in follower %}
            <div class="row" style="margin: 10px">
                <div class="col-4">
                    {{f['nick_name']}}
                </div>
                <div class="col-4">
                    {{f['since']}}
                </div>
                <div class="col-4">
                    <!--<a class="btn btn-primary float-right btn-block"-->
                       <!--href="/student/follow/?unfollow=0&follower_id={{f['user_id']}}">-->
                        <!--follow-->
                    <!--</a>-->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>