{% extends "layout.html" %}
{% block content %}

<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Movie Database</h1>

<form method="POST" action="/movieListID">
<p>
  <input type="text" name="movie" style="width: 100px">
  <input type="submit" value="Search By Movie ID">
</p>
</form>

  <form method="POST" action="/movieListTitle">
<p>
  <input type="text" name="movie" style="width: 100px">
  <input type="submit" value="Search By Movie Title">
</p>
</form>

<form method="POST" action="/movieListGenre" name="option">
  <p>
<select name="option" value="Genre" style="width: 100px">
  <option value="Crime">Crime</option>
  <option value="Drama">Drama</option>
  <option value="History">History</option>
  <option value="Action">Action</option>
  <option value="Adventure">Adventure</option>
</select>
  <button type="submit">Search By Movie Genre</button>
  </p>
</form>

<form method="POST" action="/movieListPopularity" name="option">
  <p>
<select name="option" value="Genre" style="width: 100px">
  <option value="Crime">Five</option>
  <option value="Drama">Four</option>
  <option value="History">Three</option>
  <option value="Action">Two</option>
  <option value="Adventure">One</option>
</select>
  <button type="submit">Search By Movie Popularity</button>
  </p>
</form>
</body>


</html>
{% endblock %}
