{% for c in comments: %}
<div class="card momment-card">
    <div class="card-block">
        <div class="row">
            <div class="col-4">
                <p class="card-text">{{c['author_name']}}</p>
            </div>
            <div class="col-4">
                <p class="card-text">@{{c['to_user']}}</p>
            </div>
            <div class="col-4">
                <p class="card-text">{{c['time']}}</p>
            </div>
        </div>
        <p class="card-text">{{c['content']}}</p>
    </div>
</div>
{% endfor %}