<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">UMoment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
            aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/moment/">Moment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trend/">Trend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/circle/">Circle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/discover/">Discover</a>
            </li>
        </ul>
    </div>
</nav>