{% extends "layout.html" %}
{% block content %}

<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>User Profile</h1>

  <div>
    {% for n in data %}


**************************************************************

    <div>{% if n==data[0]%}</div>
    <table style="width:50%">
      <caption>User</caption>
      <tr>
        <th>User ID</th>
        <th>Nickname</th>
      </tr>
      <tr>
        <td>{{n[0]}}</td>
        <td>{{n[1]}}</td>
      </tr>
    </table>
    <div>{% elif n[4]%}</div>
    <table style="width:100%">
      <caption>Review</caption>
      <tr>
        <th>Movie ID</th>
        <th>Rating</th>
        <th>Vote</th>
        <th>Date</th>
        <th>Comment</th>
      </tr>
      <tr>
        <td>{{n[2]}}</td>
        <td>{{n[4]}}</td>
        <td>{{n[5]}}</td>
        <td>{{n[6]}}</td>
        <td>{{n[3]}}</td>
      </tr>
    </table>
    <div>{% else%}</div>
    <table style="width:50%">
      <caption>Wishlist</caption>
      <tr>
        <th>Movie ID</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>{{n[2]}}</td>
        <td>{{n[3]}}</td>
      </tr>
    </table>
    <div>{% endif %}</div>
    {% endfor %}
  </div>


<p><a href="/update">Update</a></p>


</body>


</html>
{% endblock %}
