<html>
<head>
    <title>Register</title>
</head>

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

<p><a href="/index2">Go back to home page</a></p>

<form method="POST" action="/update">
<p>

    <p>Nickname: <input type="text" name="nickname"></p>
    <p>Email address: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <p>Image URL: <input type="text" name="imageurl"></p>
    <p>Gender: <input type="text" name="gender"></p>
    <p>Age: <input type="text" name="age"></p>
    <p>Description: <input type="text" name="description"></p>

    <input type="submit" value="Update"></p>

</form>

</body>


</html>
